<!DOCTYPE html>
<html>
  <body>
    Param ${id}:
    <h3 id="total">
      Users connected:
      <span>
        0
      </span>
    </h3>
    <script type="text/javascript">

      const sourceAll = new EventSource('/sse/all');
      const usersTotal = document.querySelector('#total span');

      sourceAll.onmessage = function(e) {
        const data = JSON.parse(e.data);

        if (data.event === 'user_connection') {
          usersTotal.innerHTML = data.data.total;
        }
      }

    </script>
  </body>
</html>
