<!DOCTYPE html>
<html>
  <body>
    <h3 id="total"> Users connected: <span> 0 </span> </h3>

    <div id="root"></div>

    <script type="text/javascript" src="http://localhost:8000/bundle.js"></script>
    <script type="text/javascript" src="http://localhost:8000/vendor.js"></script>
  </body>
</html>
